<hr>

<div class="footer">
	<p class="pull-left">
		&#169; Stanford 2013 &#124; Designed by <a href="http://stanford.edu/~cpiech">Chris</a>. Inspired by <a href="http://njoubert.com/">Niels</a> and <a href="http://cs.stanford.edu/~pliang/">Percy</a>.
	</p>
	<p class="pull-right">
		<a href="{{pathToRoot}}fall12">Fall 2012</a>
	</p>
</div>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-35433298-1']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
</script>

<script>
	$(document).ready(function() {
		$('.dropdown-toggle').dropdown()
		$('.thumbnail').tooltip({
			placement : 'bottom',
			delay : {
				show : 750
			}
		})
	});
</script>
