<nav class="navbar-inverse navbar-default" role="navigation">
  <div class="container-fluid">
  	<div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">Stanford Intro CS</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <!--<li ><a href="#">Link</a></li>-->
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Handouts <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<li><a href="{{pathToRoot}}handouts/karelCommands.html">Karel Commands</a></li>
	          	<li><a href="{{pathToRoot}}handouts/methods.html">Methods</a></li>
	          	<li><a href="{{pathToRoot}}handouts/forLoops.html">For Loops</a></li>
	          	<li><a href="{{pathToRoot}}handouts/loopAndAHalf.html">Loop and a Half</a></li>
	          	<li><a href="{{pathToRoot}}handouts/whileLoops.html">While Loops</a></li>
	          	<li><a href="{{pathToRoot}}handouts/ifStatements.html">If Statements</a></li>
	          	<li><a href="{{pathToRoot}}handouts/variables.html">Variables</a></li>
	            <li><a href="{{pathToRoot}}handouts/scope.html">Scope</a></li>
	            <li><a href="{{pathToRoot}}handouts/operations.html">Operations</a></li>
	            <li><a href="{{pathToRoot}}handouts/graphics.html">Graphics</a></li>
	            <li><a href="{{pathToRoot}}handouts/passingData.html">Passing Data</a></li>
	            
	          </ul>
	        </li>


	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	            <li><a href="{{pathToRoot}}projects/collectNewspaper.html">Collect Newspaper</a></li>
	          	<li><a href="{{pathToRoot}}projects/efes.html">Build Efes</a></li>
	          	<li><a href="{{pathToRoot}}projects/mountain.html">Mountain Karel</a></li>
	          	<li><a href="{{pathToRoot}}projects/randomPainter.html">Random Painter</a></li>
	          	<li><a href="{{pathToRoot}}projects/hailstone.html">Hailstone</a></li>
	          	<li><a href="{{pathToRoot}}projects/awesome.html">Programming is Awesome</a></li>
	            <li><a href="{{pathToRoot}}projects/randomCircles.html">Random Circles</a></li>
	            <li><a href="{{pathToRoot}}projects/bouncingBall.html">Bouncing Ball</a></li>
	            <li><a href="{{pathToRoot}}projects/illusion.html">Optical Illusion</a></li>
	            <li><a href="{{pathToRoot}}projects/sunset.html">Sunset</a></li>
	            <li><a href="{{pathToRoot}}projects/breakout.html">Breakout</a></li>
	            <li><a href="{{pathToRoot}}projects/instakilo.html">Instakilo</a></li>
	            <li><a href="{{pathToRoot}}projects/weather.html">Weather App</a></li>
	          </ul>
	        </li>

	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Examples <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<li><a href="{{pathToRoot}}projects/stepUp.html">Step Up</a></li>
	          	<li><a href="{{pathToRoot}}projects/place50.html">Place 50</a></li>
	          	<li><a href="{{pathToRoot}}projects/beeperLine.html">Beeper Line</a></li>
	          	<li><a href="{{pathToRoot}}projects/unKarel.html">UN Karel</a></li>
	            <li><a href="{{pathToRoot}}projects/emc2.html">E=MC2</a></li>
	            <li><a href="{{pathToRoot}}projects/fibb.html">Fibonacci</a></li>
	          </ul>
	        </li>

	      </ul>

	      
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">About</a></li>
	        
	      </ul>
	    </div><!-- /.navbar-collapse -->
	</div>
  </div><!-- /.container-fluid -->
</nav>


