<head>

	%include templates/parts/head.html

    <style>
p {
    text-align:left;
}
</style>

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

       

		<!-- Header -->
		<div id="pageHeader">
            <div id="title">How to Submit</div>
        </div>
        <hr/>

         <p>To submit your solution to an assignment you must do the following:
                    Log onto a corn machine, put your source code into a directory on the Stanford AFS space. Go into the directory that contains your source code, then run the submit script.</p>
                    <p>
                    You can submit multiple times and we will grade your latest submission. Feel free to submit a lot.
                    If you have problems submitting, please contact the TAs immediately. You
                    will not get extensions because you waited until after the deadline
                    to contact the TAs.</p>
        <br/>
        <h3 class="header lead">1. Get a terminal</h3>
        <div class="row">
            <div class="span12">
                <div class="subsection">
                    <p>Macs come with Terminal pre installed. You can skip this step.</p>
                    <p>If you have a PC you can download any one of the dozens of free terminal programs. We recommend <a href="https://itservices.stanford.edu/service/ess/pc/securecrt">SecureCrt</a>.</p>
                </div>
            </div>
        </div>    

        <br/>
        <h3 class="header lead">2. Copy your homework onto corn</h3>
        <div class="row">
            <div class="span12">
                <div class="subsection">
                    <p>If you have an FTP Client (for mac we recomend <a href="https://itservices.stanford.edu/service/ess/mac/fetch">Fetch</a>, for PC we recomend <a href="https://itservices.stanford.edu/service/ess/pc/securefx">SecureFx</a>), you can copy your files over using a graphical user interface (log in through corn.stanford.edu). Copy your solution to any folder in your Stanford AFS space.</p>
                    <div class="span5">                
                    <img src="{{pathToRoot}}img/fetch.png" style="height:400px;">
                    <p style="text-align:center"><em>Connecting to corn through Fetch</em></p>
                    </div>
                    <div class="span5">                
                    <img src="{{pathToRoot}}img/secureFx.png" style="margin-left:25px;margin-top:25px; height:325px;"><div style="height:50px">&nbsp;</div>
                    <p style="text-align:center"><em>Connecting to corn through SecureFx</em></p>
                    </div>
                </div>
            </div>
        </div>
    
        <br/>
        <h3 class="header lead">3. SSH into a corn machine</h3>
        <div class="row">
            <div class="span12">
                <div class="subsection">
                    <p>To log in open up a terminal and type:</p>
                    <p><code>ssh &#60;your sunet id&#62;@corn.stanford.edu</code></p>
                    <p>You should be prompted to enter your password, and then have a secure shell connection to the stanford corn machines.</p>
                    <p>You can remotely log in from anywhere. You can even ssh into corn from the cold reaches of central antartica, provided you have an internet connection and a valid sunetId. </p>
                </div>
            </div>
        </div>
        
        <br/>
        <h3 class="header lead">4. Execute the submit script</h3>
        <div class="row">
            <div class="span12">
                <div class="subsection">
                    <p>Once logged into a corn machine, navigate to the directory where you saved your solution and type:</p>
                    <p><code>/usr/class/cs221/submitter/submit</code>
                    <p>The programming assignments are submitted as a whole, however you will be asked to submit your problem set questions one at a time. The submit script will have you answer a few questions (like whether or not you collaborated with other students).</p>
                    <p>Additionally, this quarter we have modified the submit script to ask you for feedback on the assignment (in the case of problem-sets the individual problems). You will be asked how long the assignment took (in hours) and how enjoyable the problem was. Your responses will have <b>no</b> impact on your class grade. Each time you submit a problem your previous feedback for the homework will be overwritten.
                </div>
            </div>
        </div>
        <br/>
        <p>Thats all!</p>
		
		%include templates/parts/footer.html

	</div>
</body>
